@import './variables.css';


* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: var(--color-background);
}

body {
  font-family: var(--font-sans);
}